<div class="col-md-3">
 <h2>User info</h2>
  <%= link_to user_path(@user) do %>
   <% if @user.profile_image.attached? %>
    <%= image_tag @user.profile_image, size: "100x100" %>
   <% else %>
    <%= image_tag 'no_image.jpg', size: "100x100", alt: "No Image" %>
   <% end %>
  <% end %>

 <table class="table">
  <tbody>
   <tr>
    <th>name</th>
    <th><%= @user.name %></th>
   </tr>
   <tr>
    <th>introduction</th>
    <th><%= @user.introduction %></th>
   </tr>
  </tbody>
 </table>

 <div class="row">
  <%= link_to edit_user_path(@user), class: "btn btn-outline-secondary btn-block" do %>
   <i class="fa-solid fa-user-gear"></i>
  <% end %>
 </div>

  <h2 class="mt-3">New book</h2>
   <%= form_with(model: Book.new, local: true, data: { turbo: false }) do |f| %>
    <div class="form-group">
     <%= f.label :title, "Title", class: "form-label" %>
     <%= f.text_field :title, class: "form-control" %>
    </div>
     <div class="form-group">
     <%= f.label :body, "Opinion",class: "form-label" %>
     <%= f.text_area :body, class: "form-control" %>
    </div>
    <div class="form-group">
     <%= f.submit 'Create Book', class: "btn btn-success", data: { disable_with: "Create Book" }  %>
    </div>
   <% end %>
</div>